<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat DApp | New User</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/newUser.css') }}" />
    <script src="https://kit.fontawesome.com/6c8ac97f2c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>


<body>

    <div class="box">
        <div class="glass"></div>
        <div class="content">
            <h2>Welcome</h2><br>
            <p>Please set up your profile (name - bio - avatar) info and then press submit. All your profile inforamtion will convert to a NFT.</p><br><br>
            <form>
                <input class="name" type="text" placeholder="Username" requierd><br>
                <textarea class="bio" placeholder="Biography" required></textarea><br>
                <input type="file" class="avatar" id="avatar" required><br>
                <br><button type="submit" class="submit">Create Profile</button>
            </form>
        </div>
    </div>

</body>